box-size()
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
ellipsis()
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
header-style()
    height: .64rem
    line-height: .64rem
    margin-top: .12rem
    margin-left: .2rem
    padding-left: .2rem   